        {% extends "base.html" %}

        {% load widget_tweaks %}

            {% block conteudo %}

                    <div class="container">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
                        </div>
                    
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <h4 class="mb-3 text-primary">
                                    Preencha os dados do visitante
                                </h4>
                                <p class="mb-5 ml-1">
                                    <small>
                                        Os campos marcados com (*) são obrigatórios 
                                    </small>
                                </p>
                                <form method="POST">

                                    <div class="form-row">

                                        {% csrf_token %}
                                        {% for field in form %}
                                                <label>{{ field.label }} {% if field.field.required %} * {% endif %} </label> 
                                               <div class="form-group col-md-12">
                                                    {% render_field field class="form-control"  %}

                                               </div> 
                                        {% endfor %}

                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

            {% endblock conteudo %}